@import "tailwindcss";

@font-face {
  font-family: 'Arsenica';
  src: url('/fonts/arsenica/Arsenica Regular.woff2') format('woff2'),
       url('/fonts/arsenica/Arsenica Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --vintage-red: #C26E63;
  --aged-paper: #C8BEB2;
  --stamp-blue: #5C94A6;
  --charcoal: #383D3D;
  --font-arsenica: Arsenica, Georgia, serif;
}

body {
  background-color: var(--aged-paper);
  color: var(--charcoal);
}